@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.headercontainer{
  display: block;
}
.navcontainer{
  margin-left: auto;
  margin-right: auto;  
  display: flex;
  background: black;  
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 2500px;
  flex-direction: colum;
 }
.logocontainer{
  display: flex;
  justify-content: flex-star;
  padding: 15px 5px;
  max-width: 130px;
}
.menu{
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu a{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.rightcontainer{
  display: flex;
  gap: 20px;
  padding: 5px 15px;
}
.btn{
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background: #880E4F;
  gap: 20px;  
}
.btn p{
  color: white;
  font-family: 'Open Sans' san serif;
  font-size: 16px;
  text-align: center;
  margin: auto;
}